---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <style>
      /* 自定义 ClustrMaps 地球仪的样式 */
      #clstr_globe {
        width: 30px; /* 设置地球仪的宽度 */
        height: 30px; /* 设置地球仪的高度 */
        margin: 0 auto; /* 水平居中 */
        display: block; /* 确保以块级元素显示 */
        position: relative; /* 相对定位 */
        bottom: 0; /* 放置在页面底部 */
      }
      /* 调整 iframe 的大小 */
      #clstr_globe iframe {
        width: 100% !important; /* iframe 宽度填充容器 */
        height: 100% !important; /* iframe 高度填充容器 */
      }
    </style>
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
   <!-- 将 ClustrMaps 地球仪放置在页面底部 -->
    <div style="text-align: center; margin-top: 20px;">
      <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=ZmT6Lc3fmWZpuZyY0ukMPWo5izYUvVuHDbAJBbTj54c"></script>
    </div>
    {% include scripts.html %}
  </body>
</html>
